.header {
   background: var(--color-primary);

}
.header__container {
   min-height: 84px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-right: 43px;
}
.logo > img{
   position: relative;
   bottom: 5px;
}
.logo > span{
   font-size: 1.22rem;
   line-height: 122.7%;
}
.header__menu{
   position: relative;
   z-index: 900;
}
.menu__list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: wrap;
   margin: -4px;
}
.menu__list-item {
   padding: 4px;
}
.menu__list-link {
   padding: 2px 12px;
   transition: .2s all ease-out;
   border: 1px solid transparent;
   border-radius: 20px;
}
.menu__list-link:focus{
   border: 1px solid var(--color-secondary);
   background: var(--color-primary);
}

.menu__list-link::before{
   z-index: -1;
}
.menu__list-link:hover{
   border: 1px solid var(--color-secondary);
}
.menu__list-link:active{
   background: var(--color-secondary);
   color: var(--color-primary);
}

.header__burger-btn{
   cursor: pointer;
   outline: none;
   background: transparent;
   border: none;
   width: 48px;
   height: 48px;
   padding: 4px;
   border-radius: 50%;
   display: none;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 999;
}
.header__burger-btn:focus{
   border: none;
}
.burger-btn__wrapper{
   width: 100%;
   height: 100%;
   border-radius: 50%;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   position: relative;
}
.burger-btn__wrapper::after,
.burger-btn__wrapper::before{
   content: '';
}
.burger-btn__wrapper > span,
.burger-btn__wrapper::after,
.burger-btn__wrapper::before{
   transition: .2s all ease-out;;
   width: 100%;
   height: 2px;
   background: var(--color-secondary);
   margin: 4px 0px;
   
}
.burger-btn._active .burger-btn__wrapper > span{
   display: none;
}
.burger-btn._active .burger-btn__wrapper::after,
.burger-btn._active .burger-btn__wrapper::before{
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
.burger-btn._active .burger-btn__wrapper::after{
   transform: rotate(45deg);
}
.burger-btn._active .burger-btn__wrapper::before{
   transform: rotate(-45deg);
}