@media (max-width: 1300px){
   .choose-ideas__row {
      flex-wrap: wrap;
   }
   .choose-ideas__column{
      
      flex: 0 1 40%;
   }
   
}
@media (max-width: 1280px){
   .slider__wrapper {
      margin: 0 10px;
   }
}

@media (max-width: 1240px){
   ._container-small{
      padding: 0 70px;
   }
   ._wrapper__image{
      max-width: 400px;
   }
   ._wrapper__image img{
      max-width: 400px;
      max-height: 226px;
   }
   .title-h1{
      font-size: 2.6rem;
   }
   .first-screen__logo img{
      max-width: 46.44px;
   }
   .first-screen__content > *:not(:last-child){
      margin-bottom: 62px;
   }
}
@media (max-width: 1140px){
   .slider__wrapper {
      min-width: 640px;
      max-width: 640px;
   }
   .slider__body {
      margin: 0px;
   }
   
   .slider__body .idea__column {
      padding: 10px;
   }
}
@media (max-width: 1024px){
   ._wrapper__image{
      max-width: 300px;
   }
   ._wrapper__image img{
      max-width: 300px;
      max-height: 168px;
   }
   .title-h1{
      font-size: 2.3rem;
   }
   .first-screen__logo img{
      max-width: 41.04px;
      bottom: 0px;
   }
   .first-screen__content > *:not(:last-child){
      margin-bottom: 50px;
   }
}
@media (max-width: 890px){
   .header__container {
      min-height: 64px;
   }
   .header__burger-btn{
      display: flex;
      
   }
   .header__menu{
      position: fixed;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100vh;
      background: var(--color-primary);
      padding: 60px 30px;
      transform: translateX(101%);
      transition: .2s all ease-out;
   }
   .header__menu._active{
      transform: translateX(0);
   }
   .header__menu .menu__list{
      visibility: hidden;
   }
   .header__menu._active .menu__list{
      visibility: visible;
      overflow-y: scroll;
      max-height: 80%;
      display: block;
      text-align: center;
   }
   .header__menu .menu__list > *:not(:last-child){
      margin-bottom: 10px;
   }
   .header__menu .menu__list-link{
      position: relative;
      top: -10px;
      filter: opacity(0);
      transition: .4s all ease-out .2s;
   }
   .header__menu._active .menu__list-link{
      top: 0;
      filter: opacity(1);
   }
}
@media (max-width: 780px){
   .slider__wrapper {
      min-width: 320px;
      max-width: 320px;
   }
}
@media (max-width: 770px){
   .section{
      padding: 50px 0;
   }
   .section > *:not(:last-child){
      margin-bottom: 48px;
   }
   .title-h2{
      font-size: 2rem;
   }
   .choose-ideas__column{
      flex: 0 1 300px;
   }
   .first-screen__button {
      max-width: 70px;
      max-height: 70px;
   }
   .first-screen__content > *:not(:last-child){
      margin-bottom: 50px;
   }
}
@media (max-width: 660px){
   .title-h1{
      font-size: 2.1rem;
   }
   .first-screen__title{
      display: flex;
      flex-direction: column;
   }
   .first-screen__logo img{
      max-width: 35.64px;
   }
   .first-screen__logo{
      margin-top: 20px;
   }
   .achievements__row {
      margin: -30px auto;
   }
   .achievements__column {
      padding: 30px;
   }
}
@media (max-width: 610px) {
   
   .achievements{
      background: rgba(255, 255, 255, .5);
   }
}
@media (max-width: 540px){
   ._wrapper__image{
      max-width: 180px;
   }
   ._wrapper__image img{
      max-width: 180px;
      max-height: 102px;
   }
   ._container-small{
      padding: 0 50px;
   }
   .section{
      padding: 40px 0;
   }
   .section > *:not(:last-child){
      margin-bottom: 38px;
   }
   .first-screen__button {
      max-width: 48px;
      max-height: 48px;
   }
   .first-screen__button svg{
      transform: scale(.5);
   }
   .my-list__slider{
      flex-wrap: wrap;
   }
   .slider__wrapper{
      order: -1;
   }
   .slider__column{
      flex: 1 0 50%;
      display: flex;
      justify-content: center;
   }
   .achievements__row {
      margin: -20px auto;
   }
   .achievements__column {
      padding: 20px;
   }
}
@media (max-width: 420px){
   ._container-small{
      padding: 0 10px;
   }
   .section{
      padding: 32px 0;
   }
   .section > *:not(:last-child){
      margin-bottom: 30px;
   }
}
@media (max-height: 400px){
   .first-screen__logo{
      margin-top: 12px;
   }
   .first-screen__content > *:not(:last-child){
      margin-bottom: 24px;
   }
}