@import '_reset.scss';
@import '_var.scss';
@import '_page-set.scss';
@import '_fonts.scss';
@import '_common.scss';

//wrapper background
._wrapper__bg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--bg-color);
   filter: opacity(.9);
   z-index: -1;
}
._wrapper__image{
   position: absolute;
   bottom: 0;
   max-width: 485px;
}
@import '_header.scss';


//first-screen section

.first-screen__section {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.first-screen__section > *:not(:last-child){
   margin-bottom: 82px;
}
.first-screen__header{
   padding: 0 10px;
}
.first-screen__title {
   display: flex;
   align-items: center;
}
.first-screen__button{
   border: 2px solid transparent;
   background: var(--bg-color-opacity90);
   max-width: 88px;
   width: 100%;
   max-height: 88px;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .2s all ease-out;
   color: var(--text-color);
   border: 2px solid var(--text-color);
}
.first-screen__button:hover svg{
   animation: first-screen__button-hover .8s ease-out infinite;
}
@keyframes first-screen__button-hover{
   0%{
      position: relative;
      bottom: 8px;
      filter: opacity(0);
   }
   50%{
      bottom: 0px;
      filter: opacity(1);
   }
   100%{
      bottom: 8px;
      filter: opacity(0);
   }
}
.first-screen__button:active{
   background: var(--text-color);
}
.first-screen__button:active svg *{
   fill: var(--bg-color-opacity90);
}
.first-screen__button:focus::before{
   background: var(--text-color);
   border-radius: 50%;
}

.first-screen__logo {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-left: 4px;
   padding: 12px 14px;
   background: var(--color-primary);
   color: var(--color-secondary);
   border-radius: 10px;
   
}
.first-screen__logo > img{
   position: relative;
   bottom: 10px;
}

// choose ideas section
//loader
.loader{
   padding: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--text-color);
   font-size: 1.3rem;
   font-weight: 400;
}
.loader *:first-child{
   padding-bottom: 20px;
}
.lds-ring {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 44px;
   height: 44px;
 }
 .lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 44px;
   height: 44px;
   margin: 8px;
   border: 2px solid var(--color-primary);
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: var(--color-primary) transparent transparent transparent;
 }
 .lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
 }
 .lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
 }
 .lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
 }
 @keyframes lds-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
.choose-ideas__get-new-ideas{
   margin: 0 auto;
   white-space: nowrap;
   color: var(--color-secondary);
   max-height: 42px;
   z-index: 10;
}
.choose-ideas__get-new-ideas svg *{
   fill: var(--color-secondary);
}
.choose-ideas__get-new-ideas:focus::before{
   background: var(--color-primary);
}
.choose-ideas__row {
   display: flex;
   justify-content: center;
   margin: -10px;
   min-height: 236px;
}
.choose-ideas__row .idea__button-text-completed,
.choose-ideas__row .icon__mark{
   display: none;
}
.choose-ideas__column {
   padding: 10px;
   display: flex;
   justify-content: center;
   flex: 0 0 300px;
   box-sizing: content-box;
   
}
.idea__item {
   
   flex: 1 1 100%;
   display: flex;
   flex-direction: column;
   background: var(--color-primary);
   border-radius: 10px;
   position: relative;
   z-index: 0;
   padding: 22px 12px 12px;
}
.idea__item > *{
   margin: 0;
}
.idea__title {
   margin: 0;
   margin-bottom: 18px;
}

.idea__text {
   margin-bottom: 30px;
   flex: 1 0 auto;
   order: -1;
}
.idea__button {
   cursor: pointer;
   max-width: 42px;
   background: var(--color-primary);
   border: 1px solid var(--color-secondary);
   border-radius: 50px;
   display: flex;
   align-items: center;
   padding: 9px;
   align-self: flex-end;
   transition: .2s all ease-out;
}
.idea__icon{
   min-width: 22px;
}
.icon__plus {
   transition: .3s all ease-out;
}
.idea__button-text {
   visibility: hidden;
   filter: opacity(0);
   position: relative;
   left: 100%;
   white-space: nowrap;
}
.idea__button:hover{
   max-width: 176px;
}
.idea__button:hover .icon__plus{
   transform: rotate(-90deg);
   
}
.idea__button:hover .idea__icon{
   margin-right: 10px;
}
.idea__button:hover .idea__button-text{
   transition: .2s filter ease-out .1s;
   visibility: visible;
   filter: opacity(1);
   left: 0;
}
.idea__button:active{
   background: var(--color-secondary);
}
.idea__button:active .idea__icon *{
   fill: var(--color-primary);
}
.idea__button:active .idea__button-text{
   color: var(--color-primary);
}

// separator

.separator {
   min-height: 82px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.separator__hr {
   margin: 0;
   width: 100%;
   border: none;
   height: 1px;
   background: var(--color-primary);
}
.separator__icon {
   position: absolute;
   background: var(--color-secondary);
   max-width: 82px;
   width: 100%;
   max-height: 82px;
   height: 100%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

// my list

.slider {
   min-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.slider__column{
   min-width: 52px;
   position: relative;
   z-index: 400;
}
.my-list__btn {
   
   padding: 0;
   max-width: 52px;
   width: 100%;
   height: 52px;
   border: 2px solid var(--color-primary);
   border-radius: 50%;
   background: var(--color-secondary);
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--color-primary);
   cursor: pointer;
   transition: .4s all ease-out;
}

.my-list__btn[data-action="next"]:hover svg{
   animation: my-list__btn-next-hover .8s ease-out infinite;
}
@keyframes my-list__btn-next-hover {
   0%{
      position: relative;
      right: 4px;
      filter: opacity(0);
   }
   50%{
      right: 0px;
      filter: opacity(1);
   }
   100%{
      right: 4px;
      filter: opacity(0);
   }
}
.my-list__btn[data-action="previous"]:hover svg{
   animation: my-list__btn-previous-hover .8s ease-out infinite;
}
@keyframes my-list__btn-previous-hover {
   0%{
      position: relative;
      left: 4px;
      filter: opacity(0);
   }
   50%{
      left: 0px;
      filter: opacity(1);
   }
   100%{
      left: 4px;
      filter: opacity(0);
   }
}
.my-list__btn:active{
   background: var(--color-primary);
}
.my-list__btn:active svg *{
   transition: .4s all ease-out;
}
.my-list__btn:active svg *{
   fill: var(--color-secondary);
}
.my-list__btn:focus::before{
   
   background: var(--color-primary);
}
.my-list__btn:disabled{
   cursor: auto;
   filter: opacity(.5);
   pointer-events: none;
}
.slider__counter {
   color: var(--text-color);
   margin-top: 60px;
   
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.77rem;
}
.slider__counter-separator{
   padding: 0 8px;
}
.slider__wrapper {
   min-width: 980px;
   max-width: 980px;
   margin: 0 88px;
   overflow: hidden;
   position: relative;
   min-height: 174px;
}
.slider__wrapper._empty .holder{
   display: block;
}
.holder{
   display: none;
   text-align: center;
   padding: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1000;
   color: var(--text-color);
}
.slider__holder a{
   color: var(--color-tertiary);
}
.slider__holder a:hover{
   text-decoration: underline;
}
.slider__holder a:active{
   color: inherit;
}
.slider__body {
   display: flex;
   align-items: center;
   margin: -20px;
   position: relative;
   left: 0;
   transition: .4s all ease-out;
}

.slider__body .idea__button-text-completed,
.slider__body .icon__mark{
   display: block;
}
.slider__body .idea__button-text-add,
.slider__body .icon__plus{
   display: none;
}
.slider__body .idea__column {
   padding: 20px;
   min-width: 300px;
}

.slider__body .idea__item {
   max-width: 300px;
}
.slider__body .idea__item .idea__title,
.slider__body .idea__item .idea__button{
   display: none;
}
.slider__body .idea__item .idea__text{
   margin-bottom: 10px;
}
.slider__body .idea__item._active .idea__title{
   display: block;
}
.slider__body .idea__item._active .idea__button{
   display: flex;
}
.slider__body .idea__item._active .idea__text{
   margin-bottom: 30px;
}

// achievements

.achievements__row {
   position: relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 884px;
   margin: -40px auto;
   min-height: 100px;
}
.achievements__row._empty .holder{
   display: block;
}
.achievements__column {
   flex: 1 0;
   padding: 40px;
}

.achievement {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.achievement__counter {
   margin-top: 0;
   margin-bottom: 10px;
   order: -1;

   font-size: 1.7778rem;
   color: var(--color-secondary);
   background: var(--color-primary);
   border-radius: 50%;
   height: 128px;
   width: 128px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.achievement__title::first-letter{
   text-transform: uppercase;
}
// Completed challenges
.completed__table-wrapper{
   border: 1px solid var(--color-primary);
   overflow-x: auto;
   max-height: 480px;
   overflow-y: auto;
   position: relative;
   min-height: 90px;
}
.completed__table-wrapper._empty .holder{
   display: block;
}
.completed__table-wrapper._empty .completed-table{
   display: none;
}
.completed__table {
   min-width: 820px;
   width: 100%;
   
   border-collapse: collapse;
}
.completed__table thead{
   border-bottom: 1px solid var(--color-primary);
}
.completed__table thead th{
   text-align: left;
   padding: 8px 0;
}
.completed__table thead th:first-child{
   width: 50px;
   border-right: 1px solid var(--color-primary);
}
.completed__table thead th:nth-child(2){
   padding-left: 10px;
}
.completed__table tbody tr td:first-child{
   width: 50px;
   text-align: center;
   border-right: 1px solid var(--color-primary);
}
.completed__table tbody tr td{
   padding: 8px 0;
}
.completed__table tbody tr td:nth-child(2){
   padding-left: 10px;
}
.completed-table-item__title::first-letter{
   text-transform: uppercase;
}

@import '_footer.scss';
@import '_media.scss'